<div id="ecran-entrer" class="ecran is-hidden">
    <div>
        <a href="#" class="retour button">Retour à l'accueil</a>
        <header>
            <h1>Entrer dans le bâtiment</h1>
        </header>

        <form id="entrer">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select id="visite-objet">
                            <option value="">Veuillez sélectionner l'objet de votre visite</option>
                            <option value="formation">Suivre une formation</option>
                            <option value="personnel">Rencontrer un membre du personnel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-hidden">
                <div class="control">
                    <div class="select">
                        <select id="visite-formation" class="visite-option">
                            <option value="">Veuillez sélectionner une formation</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-hidden">
                <div class="control">
                    <div class="select">
                        <select id="visite-personnel" class="visite-option">
                            <option value="">Veuillez sélectionner un membre du personnel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input id="visite-visiteur" type="hidden" value="" />
                    <button class="button is-link">Envoyer</button>
                </div>
            </div>
        </form>
        <br />
        <div class="message"></div>
    </div>
</div>