<div id="ecran-inscription" class="ecran is-hidden">
    <div>
        <a href="#" class="retour button">Retour à l'accueil</a>
        <header>
            <h1>Inscription</h1>
        </header>
        <div id="screenshot" style="text-align: center;">
            <div>
                <video class="videostream" autoplay=""></video>
                <img id="screenshot-img" class="is-hidden" />
            </div>
            <button id="screenshot-button" class="button is-small">
                Prendre une photo
            </button>
        </div>
        <form id="inscription">
            <div class="field">
                <label class="label" for="inscription-nom">Nom:</label>
                <div class="control">
                    <input class="input" type="text" name="inscription-nom" id="inscription-nom"
                        placeholder="Entrez votre Nom" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="inscription-prenom">Prénom:</label>
                <div class="control">
                    <input class="input" type="text" name="inscription-prenom" id="inscription-prenom"
                        placeholder="Entrez votre Prénom" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="inscription-email">Email:</label>
                <div class="control">
                    <input class="input" type="text" name="inscription-email" id="inscription-email"
                        placeholder="Entrez votre adresse email" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link">S'inscrire</button>
                </div>
            </div>
        </form>
    </div>
</div>