<div id="ecran-profil" class="ecran is-hidden">
    <div>
        <a href="#" class="retour button">Retour à l'accueil</a>

        <header></header>
        <main>
            <div class="profil">
                <div class="profil__donnees box"></div>
                <div class="profil__actions">
                    <button class="profil__imprimer button" onclick="window.print();return false;">Imprimer
                        l'étiquette</button>
                    <button class="profil__retour retour button">Retour à l'accueil</button>
                </div>
            </div>
        </main>
    </div>
</div>