<div id="ecran-sortir" class="ecran is-hidden">
    <div>
        <a href="#" class="retour button">Retour à l'accueil</a>
        <header>
            <h1>Sortir</h1>
            <p>Vous pouvez terminer votre visite en scannant votre code QR ou en utilisant votre identifiant:</p>
        </header>
        <form id="sortir">
            <video id="qrscan-2" autoplay></video>
            <div class="field">
                <label class="label" for="id-visiteur">Entrez votre identifiant:</label>
                <div class="control">
                    <input class="input" type="text" name="sortir-id-visiteur" id="sortir-id-visiteur"
                        placeholder="Entrez votre identifiant" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input id="sortir-idVisite" type="hidden" value="" />
                    <p id="sortir-idVisite-test"></p>
                    <button class="button is-link">Sortir</button>
                </div>
            </div>
        </form>
        <br />
        <div class="message"></div>
    </div>
</div>