.retour,
.profil__actions,
header{display: none !important};


.profil__images {
  display: flex;

  div {
      width: 50%;
      padding-top: 50%;
      position: relative;
  }
  img {
      border: 1px solid #eee;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      //width: 15rem;
      //height: calc(15rem / 16 * 12);
  }
}