.ecran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    >div {
        width: 100%;
        max-width: 30rem;
    }
}

.ecran > div > .retour {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

h1 {
    font-size: 2rem;
}

header {
    margin-bottom: 2rem;

}

.bouton-sinscrire {
    margin-top: 3rem;
}

#thespitch label {
    display: none;
}

#ecran-accueil {
    a {
        width: 100%;
        margin: 1.5rem;
        display: block;
    }
}

#ecran-inscription {
    form+p {
        margin-top: 2rem;
    }
}

#ecran-entrer {
    .select,
    select {
        width: 100%;
    }
}

#ecran-sortir {}

.message p {
    padding: 0.5rem;
}

#qrcode {
    width: 10rem;
    height: 10rem;
    img {
        width: 100%;
    }
}

#screenshot {
    border: none;
    >div {
        background-color: #eee;
        border: none;
        display: flex;
        margin-bottom: 0.5rem;
        img,
        video {
            border: 1px solid #eee;
            width: 15rem;
            height: calc(15rem / 16 * 12);
        }
        video {}
        img {
            display: block;
            outline: none;
            background-color: #eee;
        }
    }
}

@media screen and (min-width: 521px) {
    .profil__images {
        display: flex;
    
        div {
            width: 50%;
            padding-top: 50%;
            position: relative;
        }
        img {
            border: 1px solid #eee;
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            //width: 15rem;
            //height: calc(15rem / 16 * 12);
        }
    }
  }

@media screen and (max-width: 520px) {
    .profil__images {
        display: block;
    
        div {
            width: 100%;
        }

        .profil__photo {
display: none;
        }

        img {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }
  }



  #jsqr__loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
  }

  #jsqr__canvas {
    width: 100%;
  }

  #jsqr__output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
  }

  #jsqr__output div {
    padding-bottom: 10px;
    word-wrap: break-word;
  }

  #jsqr__noQRFound {
    text-align: center;
  }

  #qrscan-1,
  #qrscan-2 {
      width: 100%;
      max-width: 20rem;
      margin: 0 auto;
      border-radius: 5px;
  }